@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: 'Poppins', sans-serif;
}
html,body{margin:0;
padding: 0;}
.one{height: 900px;}
.container{
	display: grid;
	grid-template-columns: repeat(1,1fr);
	scroll-behavior: smooth;
}
section{
	position: relative;
	    background: #ffffff;
	  }

.content-img{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 0;
}
img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.content{
  max-width: 1250px;
  margin: auto;
  padding: 0 25px;
}
.navbar{
  position: fixed;
  margin-top: 30px;
  width: 100%;
  z-index: 2;
  height: 50px;
  padding: 15px 0;
  transition: all 0.5s cubic-bezier(.68,-0.55,.27,1.55);
  background: transparent;
  box-shadow: 0px -3px 6px 0px rgb(255, 255, 255);
}
.content{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.navbar .logo a{
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}
.logo{z-index:1}
.tresD{z-index: 10000}
.menu-list{display: inline-flex}
.menu-list li{list-style: none;}
.menu-list .donar{
	display: none;
}
.menu-list li a{
  color: #fff;
  font-size: 17px;
font-weight: 500;
  margin-left: 25px;
  text-decoration: none;
  transition: all 0.5s cubic-bezier(.68,-0.55,.27,1.55);
}
.menu-list li a:hover{
  color: #007bff;

}
.icon{
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.donarBtn{
	position: absolute;
	right: 27px;
	top: 0;
	min-height: 60px;
}
.secto{
	display: flex;
	flex-direction: column;
	width: 1300px;
	height: 80%;	
	margin: 53px auto;
}
.toImg{
	width: 700px;
	height: 380px;
	margin: 20px auto;
}
.toImg img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.toLetter{
    color: #252525;
	text-align: center;
}
.toLetter h1{font: normal normal bold 60px/1.25em worksans-semibold,'work sans',sans-serif;margin-top: 100px;}
.toLetter h2{
	padding-top: 25px;
	padding-bottom: 20px;}
.toLetter p{
	width: 68%;
	text-align: center;
	font: normal normal normal 15px/1.875em proxima-n-w01-reg,sans-serif;
	margin:10px auto;
}
.toBtn{
	margin: 10px auto;
}
.toBtn button{
	border: solid transparent 0px;
	font: normal normal normal 15px/1.875em proxima-n-w01-reg,sans-serif;
	border-radius: 20px;
	padding:5px 41px;}

.tImg{
	width: 1024px;
	height: 500px;
	margin: 200px auto;
	background: green;
	position: relative;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}	

.who{
position: absolute;
top: 109px;
right: 0;
left: 0;
bottom: 0;
text-align: center;
color: white;
}
.who h3{margin-top: 20px;}
.who p{
	line-height: 1.875em;
	margin: 30px 60px;
	text-align: justify;
	font: normal normal normal 15px/1.875em proxima-n-w01-reg,sans-serif;
}
.objetivos{
	display: flex;
	flex-direction: column;
	height: 100%;
}

.objetivos .causas{
	display: flex;
	max-width: 100%;
	height: 500px;
	width: 1200px;
	background: green;
	margin:20px auto	;
}
.causas .obj{
	text-align: center;
	background: #323232;
	height: 100%;
	color: white;
	font: normal normal normal 30px/1.875em proxima-n-w01-reg,sans-serif;
}
.causas .obj1{width: 55%}
.causas .obj2{width: 45%;}
.obj1 h1{margin-top: 25%}
.obj1 p{font: normal normal normal 15px/1.875em proxima-n-w01-reg,sans-serif;margin:0 20px;}
iframe{
	width: 100%;
height:100%;}
@media (max-width: 1100px) {

  .menu-list li a {
  	margin-left: 13px;
  }
  .menu-list li{
  	text-align: center;
  }
  .content-img{
  	width: 100%;
  }
}
@media(max-width: 1024px){
	.menu-list{margin-top: 23px}
	.content{position: relative;justify-content: center;}
	.content-img{width: 1024px;}
	.navbar{height: 70px;}
	.donarBtn{right:6px;}
	.logo{
		position: absolute;
		top: 8px;
		left: 10px;
	}
	.secto{
	width: 1024px;
	margin: 0;
	}
	.tImg{
		margin: 0;
	}
	.objetivos{width: 1024px;}
	.causas .obj1{width: 45%}
	.causas .obj2{width: 55%;}
}

@media (max-width: 768px) {
	.one{height: 580px;}
	.content{
		margin: 0;
		width: 768px;
		padding: 0;}
	.navbar{height: 40px}
	.donarBtn{display: none;}
	.content-img{width: 768px;}
	.icon{
			display: block;
			position: absolute;
			top: 2%;
			right:calc(100% - 752px);	
		}
	.menu-list{
		background: transparent;
		display: block;
		position: relative;
		width: 100%;
		top: -700px;
		margin-top: 68px;
		box-shadow: 1.93px 2.30px 0 0px rgba(0,0,0,0.45);
		transition: all 0.3s cubic-bezier(.68,-0.55,.27,1.55);
	}
	.show{top:0;}

	.menu-list li{
		padding: 21px;
		text-align: center;
	}
	.menu-list li a {
		color: white;
		font-size: 20px;
		font-weight: 500;
	}
	.menu-list li a:hover{font-size: 23px;}
	.menu-list .donar{
		display: block;
	}
	.menu-list .donar a{font-weight: 700;
	}
	.secto{
		width: 768px;
		margin: 59px 0px;
	}
	.tImg{
		width: 768px;
		margin-top: 100px;
	}
	.objetivos .causas{
		flex-direction: column;
		width: 768px;
		margin: 0px;
		height: 100%;
	}
	.causas .obj{
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 350px}
	.causas .obj1{width: 100%}
	.causas .obj2{width: 100%;height: 555px;}
	.obj1 h1{margin: 0}
}
/*esta parte es de la seguda seccion*/

/*empezamos con el tercer sectio*/
